<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>

<body>
  <% if (user) { %>
  <p>Logged in as <%=user.username %></p>
  <form method="POST" action="/logout">
    <button type="submit">Logout</button>
  </form>

  <form method="POST" action="/files/folder/<%=directory.id%>/createFolder">
    <input type="text" name="folderName">
    <button>Create Folder</button>
  </form>
  <form method="POST" enctype="multipart/form-data">
    <label>
      File
      <input type="file" name="file">
    </label>

    <button type="submit">Upload</button>
  </form>

  <h1>Directory: '<%=directory.name%>'</h1>
  <% directory.children.forEach(file => {%>
  <div style="border: 1px solid black;">
    <h2><%= file.id %> <%= file.name %> <%= (file.type === 'FOLDER') ? 'DIRECTORY' : ""%></h2>
    Created at: <%= file.createdAt %>
    <% if (file.type === 'FOLDER') {%>
    <a href="/files/folder/<%=file.id%>">Open</a>
    <%} else {%>
    <a href="/files/<%=file.id%>">Info</a>
    <form method="POST" action="/files/share/<%=file.id%>">
      <button type="submit">Share</button>
    </form>
    <%}%>


    <form method="POST" action="/files/<%=file.id%>/delete">
    <button type="submit">Delete</button>
    </form>

    <% if (file.type !== 'FOLDER') {%>
    <form method="GET" action="/files/<%=file.id%>/download">
      <button type="submit">download</button>
    </form>
    <%}%>

  </div>
  <%});%>

    <%} else {%>
    <p>Not logged in</p>
    <a href="/login">Login</a>
    <a href="/signup">Register</a>
    <%}%>
  
</body>
</html>